.box {
  border: 20 px solid white;
}

body {
  text-align: center;
  background: linear-gradient(#9198e5, #e66465);
  
}

html, body {
  magin: 0;
  min-height: 100%;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: Lato; 
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 3em;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    background-color: #f1f1f1;
}

input[type=submit]{
    color: white;
    background-color: transparent;
    border: 2 px solid #00000;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;  
    cursor: pointer;
}

input[type=color]{
    border-radius: 6px;
    border: none;
}

span {
  margin: 8px;
}

